@font-face {
  font-family: 'Futura Std';
  src: url('../fonts/FUTURA/SFUFuturaRegular.TTF');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('../fonts/FUTURA/SFUFuturaHeavy.TTF');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Std';
  src: url('../fonts/FUTURA/SFUFuturaBold.TTF');
  font-weight: 700;
  font-style: normal;
}
